.filter{
    display: flex;
    justify-content: space-between;
    
    padding: 0 72px;
    margin: 40px 0;
}

form{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding:2px 0 2px 5px;
    
    box-shadow: 0px 0px 16px -8px var(--White-Dark-Mode-Text);
    background-color: var(--White-Dark-Mode-Text);
    border-radius: 4px;
}

.dark form{
    box-shadow: 0 0 16px -8px var(--Dark-Blue);
    background-color: var(--Dark-Blue);
   
}



.inputSearch{ 
    margin:0;
    border:none;
    height: 100%;
    margin-left: 2px;
    border-radius: 3px;
    background-color: var(--White-Dark-Mode-Text);
    color:var(--Dark-Blue);
}
.dark .inputSearch{
   
    background-color: var(--Dark-Blue) ;
    color:white;
   
    
}

.inputSearch:focus{
    outline: none;
}


select{
    background-color: var(--White-Dark-Mode-Text);
    color:var(--Dark-Blue);
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0px 0px 16px -8px var(--White-Dark-Mode-Text);
}

.dark select{
    background-color: var(--Dark-Blue) ;
    color: white;
    box-shadow: 0 0 16px -8px var(--Dark-Blue);
   
   
}

